* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #222;
    color: #ddd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.canvas-container {
    margin: 5px 6px 5px 5px;

}

canvas {
    background-color: #333;
    border: 1px solid #666;
}

h1 {
    margin: 5px;
    color: rgb(230, 88, 36);
}