* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background-color: #222;
    color: #ddd;
    font-family: "Inria Sans", sans-serif;
    font-size: 12pt;
}

#App {
    height: 100vh;
    position: relative;
    padding: 5px;
}

.tiny {
    display: none;
}

#ui {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    height: calc(100% - 60px);
    z-index: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    max-width: 240px;
    margin-right: 5px;
}

#refresh-button {
    display: inline-block;
    width: 44px;
    height: 44px;
    cursor: pointer;
    transform-origin: 20px 20px;
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation-name: rotation;
    animation-timing-function: cubic-bezier(0.2, 0.7, 0.7, 0.5);
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

#chart-tabs{
    align-self: flex-start;
    flex-grow: 1;
    height: 100%;
    min-height: 300px;
    min-width: 500px;
    margin-left: 10px;
}

.tab {
    display: flex;
    justify-content: flex-start;
}

.tab button {
    background-color: #666;
    align-self: flex-start;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 16px;
    transition: 250ms;
    color: #222;
    font-size: 100%;
    font-family: inherit;
}

.tab button.active {
    background-color: #ddd;
}

.tabcontent {
    display: block;
}

.main-chart-container {
    height: 100%;
}

header, h1 {
    font-size: 16pt;
    font-weight: bold;
    height: 33px;
    overflow: hidden;
}

footer {
    padding: 5px;
    display: flex;
    flex-direction: row;
    height: 20px;
    color: #777;
    background-color: #222;
    font-size: 85%;
    line-height: 90%;
}

footer a {
    color: #999;
    text-decoration: underline;
}

footer a:visited {
    color: #888;
}

footer > span {
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    justify-content: space-between;
}

footer > span:first-child {
    text-align: left;
}

footer > span:last-child {
    text-align: right;
}

.controls > div {
    margin-bottom: 5px;
}

#prediction-container > * {
    vertical-align: bottom;
}

#prediction-container > * > * {
    vertical-align: bottom;
}

.diff-chart-container {
    height: 100%;
}

canvas {
    background-color: #282828;
    border: 1px solid #333333;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#country-selector {
    margin-bottom: 10px !important;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 150px;
}

#country-selector > div {
    display: grid;
    grid-template-columns: 1em 1fr;
    row-gap: 0;
    column-gap: 4px;
}

#country-selector > div span {
    height: 16pt;
    line-height: 14pt;
    display: inline-block;
}

#country-selector > div span.selected {
    background-color: #E65824;
    color: #f8f8f8;
    font-weight: bold;
}

#country-selector > div span.selected:hover {
    background-color: rgb(250, 100, 45) !important;
}

#country-selector > div span:nth-child(even) {
    cursor: pointer;
    padding: 1px 3px 0 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#country-selector > div span:nth-child(odd) {
    padding: 2px 0 0 0;
}

#country-selector > div span:nth-child(even):hover {
    background-color: #666;
}

#country-selector::-webkit-scrollbar {
    width: 8px;
}
  
#country-selector::-webkit-scrollbar-track {
    background: transparent;
}
  
#country-selector::-webkit-scrollbar-thumb {
    background: #555;
}
  
#country-selector::-webkit-scrollbar-thumb:hover {
    background: #888;
}

#current-cases,
#predicted-cases {
    font-weight: bold;
    color: rgb(230, 88, 36);
}

.hidden {
    display: none;
}

.grid-table-with-header {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    gap: 0 5px;
}

.grid-table-with-header > span:nth-child(odd):not(:first-child) {
    text-align: right;
}

.grid-table-with-header > span:first-child {
    grid-column-start: 0;
    grid-column-end: span 2;
    font-weight: bold;
}

@keyframes fadeInOut {
    from {
        background-color: inherit;
        box-shadow: inherit;
    }
    to {
        background-color: rgba(136, 255, 25, 0.8);
        box-shadow: 0px 0px 8px 0px rgba(136, 255, 25, 0.8);
    }
}

.flash {
    animation-name: fadeInOut;
    animation-timing-function: ease-in;
    animation-duration: 1000ms;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
}

#error-message {
    position: fixed;
    visibility: hidden;
    bottom: -44px;
    left: 0;
    right: 0;
    height: 44px;
    color: white;
    font-weight: bold;
    padding: 0.5ex 1em;
    line-height: 34px;
    background-color: rgb(197, 13, 13);
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

#error-message.show {
    visibility: visible;
    bottom: 0;
}
