* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background-color: #222;
    color: #ddd;
    font-family: Calibri, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

#App {
    height: 100vh;
    position: relative;
    padding: 5px;
}

#ui {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    height: calc(100% - 60px);
    z-index: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    max-width: 240px;
}

#refresh-button {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

#refresh-button:hover {
    background-color: #555;
}

.main-chart-container {
    position: relative;
    margin-left: 10px;
    height: 100%;
    min-height: 300px;
    min-width: 500px;
    align-self: flex-end;
    flex-grow: 1;
}

header {
    font-size: 16pt;
    font-weight: bold;
    height: 33px;
    overflow: hidden;
}

footer {
    padding: 5px;
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #777;
    background-color: #222;
    z-index: 2;
    font-size: 85%;
    line-height: 90%;
}

footer a {
    color: #999;
    text-decoration: underline;
}

footer a:visited {
    color: #888;
}

footer > span {
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    justify-content: space-between;
}

footer > span:first-child {
    text-align: left;
}

footer > span:last-child {
    text-align: right;
}

.controls > div {
    margin-bottom: 5px;
}

.diff-chart-container, .sir-chart-container {
    margin-top: 5px;
    height: 20vh;
    max-height: 200px;
}

canvas {
    background-color: #282828;
    border: 1px solid #333333;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.country-selector {
    margin-bottom: 10px !important;
}

input[type=search] {
    display: inline-block;
    border: none;
    font-family: Calibri, Geneva, Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: calc(100% - 40px);
    padding: 5px 5px;
}

#flag {
    font-size: 32px;
    display: inline-block;
    height: 32px;
    vertical-align: text-bottom;
}

#current-cases,
#predicted-cases {
    font-weight: bold;
    color: rgb(230, 88, 36);
}

.hidden {
    display: none;
}

.grid-table-with-header {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    gap: 0 5px;
}

.grid-table-with-header > span:nth-child(odd):not(:first-child) {
    text-align: right;
}

.grid-table-with-header > span:first-child {
    grid-column-start: 0;
    grid-column-end: span 2;
    font-weight: bold;
}

@keyframes fadeInOut {
    from {
        background-color: inherit;
        box-shadow: inherit;
    }
    to {
        background-color: rgba(136, 255, 25, 0.8);
        box-shadow: 0px 0px 8px 0px rgba(136, 255, 25, 0.8);
    }
}

.flash {
    animation-name: fadeInOut;
    animation-timing-function: ease-in;
    animation-duration: 1000ms;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
}

#error-message {
    position: fixed;
    visibility: hidden;
    bottom: -44px;
    left: 0;
    right: 0;
    height: 44px;
    color: white;
    font-weight: bold;
    padding: 0.5ex 1em;
    line-height: 34px;
    background-color: rgb(197, 13, 13);
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

#error-message.show {
    visibility: visible;
    bottom: 0;
}
